html, main {
    margin: 0;
    padding: 0;
}

body {
    background-color: tomato;
    font-family: 'Nanum Gothic Coding', monospace;
    display: flex;
}

header {
    text-align: center;
}

form {
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    width: 90%;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 15px;
}

label {
    margin: 5px 0;
}

ul {
    list-style-type: none;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#dropdown {
    width: 50px;
}

.container {
    margin: 0 auto;
}
