body {
    background-color: tomato;
    font-family: 'Nanum Gothic Coding', monospace;
}

header {
    text-align: center;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
    width: 500px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
}

label {
    margin: 5px 0;
}

#dropdown {
    width: 50px;
}
